{% load static %}
<section class="tw-min-h-[40vh] lg:tw-min-h-[40vh] tw-py-5 tw-flex tw-flex-wrap tw-items-center tw-w-full tw-relative before:tw-content-[''] before:tw-absolute before:tw-top-0 before:tw-left-0 before:tw-w-full before:tw-h-full before:tw-bg-cover before:tw-bg-center before:tw-bg-[url({% static 'main/images/bg.jpg' %})] before:tw-blur-[90px] tw-overflow-hidden">
    <div class="container tw-z-[1]">
        <h1 class="tw-text-4xl lg:tw-text-6xl tw-font-black tw-my-9 lg:tw-my-16">{{category}}</h1>
    </div>
</section>